<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.hrms_advertise.mapper.AdvertiseinfoMapper">
    <select id="selectEdus" resultType="String">
        select eduBackground from advertiseinfo where companyId=#{id} group by eduBackground
    </select>
    <select id="selectDepartments" resultType="String">
        select department from advertiseinfo where companyId=#{id} group by department
    </select>
    <select id="selectPositions" resultType="String">
        select position from advertiseinfo where companyId=#{id} group by position
    </select>
</mapper>
